.dropbtn {
    background-color: transparent;
    color: rgb(90, 83, 83);
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  input[name="gender"] {
	accent-color: rgb(144, 16, 16);
  
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.container{
  width: 80%;
  margin: 0px auto;
}
.user{
  flex-basis: 33%;
}
.services{
  box-shadow: 0px 0px 10px rgb(221, 218, 218);
}
.logged-in {
  color: rgb(44, 192, 44);
  font-size: 20px;
  position: absolute;
  left: 20px;
  bottom: 8px;
}
.radio-custom:checked ~ label {
  color: black;
}
.react-datepicker__input-container input {
  outline: none;
  /* border: 1px solid #ced4da; */
   /* You can set the border color to the desired value */
}

.react-datepicker-wrapper {
  display: inline-block; /* Adjust display property if necessary */
}
/* MyTimePicker.css */
.react-time-picker__inputGroup {
  border: none;
  box-shadow: none;
}
.gatwayimg{
 max-width: 500px;
height: 360px;
}



